* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.resume-container {
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    display: flex;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ліва колонка займає 60% */
.left-column {
    width: 60%;
    padding: 20px;
}

/* Права колонка займає 40% */
.right-column {
    width: 40%;
    padding: 20px;
}

.left-smallcolumn {
    display:flex;
   flex-direction: column;
   width :40%;
   padding: 20px;
}


.right-smallcolumn {
    display:flex;
   flex-direction: column;
   width :60%;
   padding: 20px;
}

/* Заголовки та текст */
.header {
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.header h1 {
    font-size: 26px;
    color: #333;
}

.header h2 {
    font-size:24px;
    color: #333;
    border-bottom:1px solid #ccc;
    padding-bottom: 10px;}
.education-item{
    display:flex;
    justify-content: space-between ;
    align-items:flex-start;
    margin-top: 20px;
   
}
.experience-item{
    display:flex;
    justify-content: space-between ;
    align-items:flex-start;
   
}
.about, .education, .experience {
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    color: #333;
}

h4 {
    font-size: 16px;
    color: #333;
}

h5 {
    font-size: 12px;
    color: #e30606;
}

h6 {
    font-size: 1.0em;
    color: #333;
    
}

p {
    margin-bottom: 8px;
    color: #555;
}

/* Список навичок, мов і захоплень */
ul {
    list-style-type: none;
    padding-left: 0;
}

.skills ul li, .hobbies ul li {
    padding: 5px 0;
}

.photo {
    text-align: center;
    margin-bottom: 20px;
}

.photo img {
   
    width: 200px;
    height: 200px;
}

.skills, .languages, .hobbies, .references {
    margin-bottom: 20px;
}

.icon {
    margin-right: 5px;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contact-info img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.progress-bar {
    background-color: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    width: 100%;
    margin: 5px 0;
}

.progress {
    height: 100%;
    background-color: #f41338;
}

/* Для заповнення рівнів навичок */
.skill-level {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}